
body{
    background-color: var(--cor-de-fundo);
    }
:root{
    --cor-de-fundo:#EBECEE;
    --cor-branca:#FFFFFF;
    }

    .cabeça_principal{
        background-color: var(--cor-branca);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .cabeça_do_menu1{
        width: 24px; 
        height: 24px;
        background-image: url(../img/Menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        display: inline-block;
    }
    .conteiner{
        display: flex;
        align-items: center;
        justify-content: space-between;;
    }
    .conteiner_imagem{
    padding: 1em;
}
    #id01{
        width:25px;
        height: 24px;
    }