:root{
    --cor-de-fundo:#EBECEE;
    --cor-branca:#FFFFFF;
    }
body{
    background-color: var(--cor-de-fundo);
    }
.cabeçalho{
        background-color: var(--cor-branca);
        display: flex;
        justify-content: space-between;
        align-items: center;
 }
.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
        
}
.conteiner{
        display: flex;     
        align-items: center;
        justify-content: space-between;
}
.container__imagem{
    padding: 1em;
}